.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .novo-aviso,
  .atualiza-aviso {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #007bff;;
  }

  .botoes-container {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
  }
  
  .atualizar{
    background: #17771c;
  }

  .deletar{
    background: #dc3545;
  }
  button:nth-child(2) {
    background: #ffc107;
  }
  

  
  .avisos-list {
    list-style: none;
    padding: 0;
  }
  
  .aviso-item {
    display: flex;
    justify-content: space-between; /* Separa o texto dos botões */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  button {
    margin-right: 5px;
  }
  