<mat-toolbar color = "primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Newsletter</span>
  <span class="example-spacer"></span>


  <div style = "margin: 20px;">

    <a href="/lista" style="color:white; margin:20px">Lista</a>
    <a href="/login" style="color:white; margin:20px">Login</a>
    <a href="/cadastrar" style="color:white; margin:20px">Cadastro</a>
    <a href="/categorias" style="color:white; margin:20px" >Categorias </a>

  </div>
 

</mat-toolbar>  

<router-outlet>
 
</router-outlet>

