<div class="container">
  <h2 class="titulo">Lista de Avisos</h2>

  <!-- Dropdown para selecionar categoria -->
  <label for="categoria">Selecione uma categoria:</label>
  <select id="categoria" [(ngModel)]="categoriaSelecionada" (change)="filtrarAvisosPorCategoria()">
    <option value="">Nenhuma categoria selecionada</option>
    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome }}</option>
  </select>

  <!-- Lista de avisos filtrados -->
  
  <strong>Categoria selecionada:</strong> {{ nomeCategoriaSelecionada}} <br>

  <ul class="avisos-lista">
    
    <ul  *ngFor="let aviso of avisosFiltrados" class="aviso-item">
      
      <strong>Descrição:</strong> {{ aviso.descricao }}
    </ul >
  </ul>

  <!-- Caso não existam avisos -->
  <p *ngIf="avisosFiltrados.length === 0">Nenhum aviso encontrado para esta categoria.</p>
</div>
